---
import BlogPostItem from '../components/BlogPost/BlogPostItem.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import type { BlogPost } from '../models/blogPost/BlogPost';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = 'My Astro Learning Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPostItem blogPost={post.frontmatter as BlogPost} />
      ))
    }
  </ul>
</BaseLayout>
