---
import BaseLayout from '../layouts/BaseLayout.astro';
import type { MarkdownInstance } from 'astro';
import type { BlogPost } from '../models/blogPost/BlogPost';
import BlogPostItem from '../components/BlogPostItem.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = 'My Astro Learning Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((markdown) => (
        <BlogPostItem markdown={markdown as MarkdownInstance<BlogPost>} />
      ))
    }
  </ul>
</BaseLayout>
