---
import type { MarkdownInstance } from 'astro';
import type { BlogPost } from '../../models/blogPost/BlogPost';

interface Props {
  markdown: MarkdownInstance<BlogPost>;
}
const { markdown } = Astro.props;
---

<a href={markdown.url}> <h2>{markdown.frontmatter.title}</h2></a>
